<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.novice.ipc">
    <!-- Play local audio file required permission. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Play web url audio file required permission. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.novice.ipc.ipcclient" />
    </queries>
    <application
        android:name="com.novice.ipc.IpcApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.novice.messenger.IpcMsgServerActivity"
            android:exported="false" />

        <service
            android:name="com.novice.messenger.service.IpcMsgService"
            android:enabled="true"
            android:exported="true"  >
            <intent-filter>
                <action android:name="aidlexample" />
                <action android:name="messengerexample" />
            </intent-filter>
        </service>

        <receiver android:name="com.novice.messenger.service.IpcBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.novice.ipc.ipcclient" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.novice.noAidlService.NoAidlService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />

        <activity
            android:name="com.novice.noAidlService.NoAidlActivity"
            android:exported="false" />
        <activity
            android:name="com.novice.onewaycrash.OneWayCrashActivity"
            android:exported="false" />

        <service
            android:name="com.novice.onewaycrash.RemoteOneWayService2"
            android:enabled="true"
            android:exported="true"
            android:process=":remote2">
            <intent-filter>
                <action android:name="action.test.remote.call2" />
            </intent-filter>
        </service>
        <service
            android:name="com.novice.onewaycrash.RemoteOneWayService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="action.test.remote.call" />
            </intent-filter>
        </service>
        <service
            android:name="com.novice.music.aidl.service.AidlMusicService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <service
            android:name="com.novice.music.ipc.service.IpcMusicService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.novice.music.ipc.musicservice" />
            </intent-filter>
        </service>

        <activity
            android:name="com.novice.music.aidl.MusicAidlActivity"
            android:exported="false" />
        <activity
            android:name="com.novice.music.ipc.MusicIpcActivity"
            android:exported="false" />

        <service
            android:name="com.novice.aidl.server.AidlRemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.novice.aidl.server" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.novice.aidl.UseAidlActivity"
            android:exported="false" />
        <activity android:name=".client.ClientActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".server.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.novice.ipc.server" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>